@media (max-width: 1400px) {
  :root {
    --title-fontsize: 7.2rem;
    --content-fontsize: 2rem;
    --listTitle-fontsize: 1.8rem;
    --listContent-font-size: 1.5rem;
    --btn-fontsize: 1.7rem;
    --small-fontsize: 1.4rem;
    --provide-fontsize: 1.8rem;

    --title-lineheight: 9rem;
    --content-lineheight: 2.96rem;
    --listTitle-lineheight: 2.3rem;
    --listContent-lineheight: 2rem;
    --btn-lineheight: 2.516rem;
    --small-lineheight: 2.07rem;
    --provide-lineheight: 2.5rem;
  }

  /* header */
  header .nav {
    width: calc(100vw - 15%);
  }

  /* nth-child(1) */
  .main-wrap .main-list:nth-child(1) .wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .main-wrap .main-list:nth-child(1) .img-wrap .img1,
  .main-wrap .main-list:nth-child(1) .img-wrap .img2,
  .main-wrap .main-list:nth-child(1) .img-wrap .img3 {
    position: relative;
    top: 12vh;
    left: -7vw;
    padding-right: 8%;
  }

  .main-wrap .main-list:nth-child(1) .img-wrap [class^="img"]::before {
    display: flex;
  }

  .main-wrap .main-list:nth-child(1) .title {
    position: relative;
    top: 10vh;
  }

  .main-wrap .main-list:nth-child(1) .content {
    position: relative;
    top: 10vh;
  }

  /* nth-child(2) */

  .main-wrap .main-list:nth-child(2) .title {
    position: relative;
    top: 5vh;
  }

  .main-wrap .main-list:nth-child(2) .content {
    position: relative;
    top: 5vh;
  }

  .main-wrap .main-list:nth-child(2) .wrap {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  .main-wrap .bubble-wrap div:nth-child(1) {
    right: 47vw;
  }

  .main-wrap .bubble-wrap div:nth-child(2) {
    left: 50vw;
  }

  .main-wrap .bubble-wrap div:nth-child(3) {
    top: 77vh;
    left: 35vw;
  }

  /* :nth-child(3) */

  .main-wrap .main-list:nth-child(3) {
    position: relative;
  }

  dl:before {
    display: none;
  }

  .main-wrap .main-list:nth-child(3) .solution-box:nth-child(1),
  .main-wrap .main-list:nth-child(3) .solution-box:nth-child(2),
  .main-wrap .main-list:nth-child(3) .solution-box:nth-child(3) {
    position: relative;
    top: 0;
    left: 0;
  }

  .main-wrap .main-list:nth-child(3) .sub-title {
    padding: 2rem 0;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(1) {
    top: 33vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(2) {
    top: 54vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(3) {
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
  }
  /* solutionbox */

  .solution-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .solution-box .label {
    padding: 0;
    margin: 0;
  }

  .solution-box .solution-content {
    margin: 1rem 0 1.8rem 0;
  }

  .solution-box .underline::after {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* hovering-box */

  .main-wrap
    .main-list:nth-child(4)
    .provide-list-left
    .provide-list.hover-box-left::after {
    right: -18.9%;
  }

  .main-wrap
    .main-list:nth-child(4)
    .provide-list-left
    .provide-list.hover-box-left::before {
    top: 49.5%;
    right: -11%;
  }

  .main-wrap
    .main-list:nth-child(4)
    .provide-list-right
    .provide-list.hover-box-right::before {
    left: -11%;
    top: 46.5%;
  }

  .main-list .provide-list-left .provide-list.hover-box-left {
    background-color: #fff;
    align-items: end;
    position: relative;
    left: calc(50% - -5.3rem);
    transform: translate(-50%, -27%);
    justify-content: end;
    text-align: right;
    width: 30rem;
    box-sizing: border-box;
    padding-right: 2rem;
  }

  .main-list .provide-list-right .provide-list.hover-box-right {
    background-color: #fff;
    align-items: start;
    position: absolute;
    left: calc(50% + 15.1rem);
    transform: translate(-53%, -24.5%);
    justify-content: start;
    text-align: left;
    width: 30rem;
    box-sizing: border-box;
    padding-left: 2rem;
  }

  .main-list .hovering-title {
    color: var(--main-color);
    font-size: var(--listTitle-fontsize);
    line-height: var(--listTitle-lineheight);
    font-weight: var(--bold-font-weight);
  }

  .main-list .hover-box-underline::after {
    content: "";
    display: block;
    border-bottom: 1px solid #d7d2f9;
    width: 25rem;
    margin-top: 0.5rem;
  }

  .main-list .hovering-list {
    font-size: var(--provide-fontsize);
    line-height: var(--provide-lineheight);
    font-weight: var(--middle-font-weight);
    margin-top: 1.1rem;
    z-index: 100;
  }
}

@media (max-width: 800px) {
  :root {
    --title-fontsize: 4.5rem;
    --title-lineheight: 8rem;
  }
  .main-wrap .main-list .title {
    font-size: var(--title-fontsize);
    line-height: var(--title-lineheight);
    font-weight: var(--bold-font-weight);
    color: var(--text-color);
  }

  .main-wrap .main-list:nth-child(5) .wrap {
    padding: 25vw 12.7vw 15rem 25.8vw;
  }
}