@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --main-color: #7b53ea;
  --text-color: #2c2336;
  --background-color: #f1f0ff;
  --solution-background: #f8f8ff;
  --gray-color: #707070;
  --dark-color: #b7a9fc;
  --light-color: #d9d4fc;

  --bold-font-weight: 700;
  --middle-font-weight: 500;
  --small-font-weight: 400;

  --title-fontsize: 7.2rem;
  --content-fontsize: 2.6rem;
  --listTitle-fontsize: 3rem;
  --listContent-font-size: 2rem;
  --btn-fontsize: 1.7rem;
  --small-fontsize: 1.4rem;
  --provide-fontsize: 2.4rem;

  --title-lineheight: 9rem;
  --content-lineheight: 3.85rem;
  --listTitle-lineheight: 4.4rem;
  --listContent-lineheight: 2.96rem;
  --btn-lineheight: 2.516rem;
  --small-lineheight: 2.07rem;
  --provide-lineheight: 3.55rem;
}

/* header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.7rem;
}

header a::before {
  content: "";
  display: block;
  width: 204px;
  height: 39px;
  background-image: url(/src/header/headerIMG.png);
  background-position: -10px -10px;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 51.4%);
}

header .nav .h1 {
  cursor: pointer;
}

header .nav .nav-btns {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  header .nav .nav-btns .nav-item [class^="btn"] {
    display: none;
  }
}

header .nav .nav-btns:nth-child(-n + 4) {
  gap: 2rem;
}

header .nav .nav-btns .nav-item [class^="btn"]::before {
  content: "";
  display: block;
  background-image: url(/src/header/headerIMG.png);
}

header .nav .nav-btns .nav-item .btn-cafe::before {
  width: 31px;
  height: 31px;
  background-position: -10px -120px;
}

header .nav .nav-btns .nav-item .btn-insta::before {
  width: 32px;
  height: 31px;
  background-position: -67px -69px;
}

header .nav .nav-btns .nav-item .btn-blog::before {
  width: 37px;
  height: 31px;
  background-position: -10px -69px;
}

header .nav .nav-btns .nav-item .btn-youtube::before {
  width: 37px;
  height: 26px;
  background-position: -119px -69px;
}

.purple-btn {
  border-radius: 3.7rem;
  background-color: var(--main-color);
  font-size: var(--button-fontsize);
  font-weight: var(--bold-font-weight);
  line-height: var(--btn-lineheight);
  text-wrap: nowrap;
  color: #fff;
  padding: 1.2rem 1.9rem 1.3rem 1.9rem;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg)
    brightness(109%) contrast(101%);
}

header .nav .purple-btn.white-btn {
  background-color: #fff;
  color: var(--main-color);
}

/* lastnav */
header.last-header {
  position: relative;
  height: calc(100vh - 30rem);
}

header nav.last-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: calc(100vw - 51.4%);
  height: 100%;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  box-sizing: border-box;
  transform: translateY(100%);
}

footer.none {
  display: none;
}

footer address {
  position: absolute;
  width: calc(100vw - 51.4%);
  top: 1rem;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #cbcbcb;
}

footer address a {
  color: #cbcbcb;
}

footer address div:nth-child(3)::before {
  content: "사업자번호: ";
}

footer address div:nth-child(4)::before {
  content: "Email: ";
}

/* main */
.main-wrap {
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
}

.main-wrap .main-list {
  width: 100vw;
  height: 100vh;
}

.main-wrap .main-list .title {
  font-size: var(--title-fontsize);
  line-height: var(--title-lineheight);
  font-weight: var(--bold-font-weight);
  color: var(--text-color);
}

.main-wrap .main-list .content {
  font-size: var(--content-fontsize);
  line-height: var(--content-lineheight);
  font-weight: var(--middle-font-weight);
  padding-top: 2rem;
}

.bread-crumbs {
  position: fixed;
  top: 50%;
  right: 12.7vw;
  z-index: 1000;
}

.bread-crumbs button {
  padding: 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  pointer-events: auto;
}

.bread-crumbs button.focusTap {
  border: solid 0.5rem var(--main-color);
  margin-left: 0.5rem;
}

.bread-crumbs button.focusTap2 {
  border: solid 0.5rem #d6c8ff;
  margin-left: 0.5rem;
}

/* solutionbox */
.solution-box {
  background-color: var(--solution-background);
  border: 1px solid #d7d2f9;
  box-shadow: 0px 2px 3px 0px #0000004d;
  box-shadow: 0px 6px 10px 4px #00000026;
  border-radius: 2.2rem;
}

.solution-box .label {
  width: 8.4rem;
  background-color: var(--main-color);
  color: #fff;
  font-size: var(--small-fontsize);
  line-height: var(--small-lineheight);
  font-weight: var(--bold-font-weight);
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  margin-left: 2rem;
}

.solution-box .solution-content {
  margin: 2.3rem 0 2.8rem 3.9rem;
}

.solution-box .solution-title {
  color: var(--main-color);
  font-size: var(--content-fontsize);
  line-height: var(--content-lineheight);
  font-weight: var(--bold-font-weight);
}

.underline::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d7d2f9;
  width: 73%;
  margin-top: 0.5rem;
}

.solution-box .solution-list-wrap {
  padding-top: 1.8rem;
}

.solution-box .solution-list {
  color: var(--gray-color);
  font-size: var(--listContent-font-size);
  line-height: var(--listContent-lineheight);
  font-weight: var(--small-font-weight);
}

/* nth-child(1) */
.main-wrap .main-list:nth-child(1) {
  background-image: url(/src/list1/list1-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.main-wrap .main-list:nth-child(1) .wrap {
  position: relative;
  padding: 19.3rem 12.7vw 0 25.8vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap {
  display: flex;
  width: 100%;
}

.main-wrap .main-list:nth-child(1) .img-wrap [class^="img"]::before {
  content: "";
  display: block;
  background-image: url(/src/list1/list1-img.png);
  width: 260px;
  height: 245px;
}

@media (max-width: 970px) {
  .main-wrap .main-list:nth-child(1) .img-wrap [class^="img"] {
    display: none;
  }
}

@media (max-height: 770px) {
  .main-wrap .main-list:nth-child(1) .img-wrap [class^="img"] {
    display: none;
  }
}

.main-wrap .main-list:nth-child(1) .img-wrap .img1 {
  position: absolute;
  top: 38.2vh;
  left: 56vw;
  width: 13.5vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap .img1::before {
  background-position: -290px -10px;
}

.main-wrap .main-list:nth-child(1) .img-wrap .img2 {
  position: absolute;
  top: 65.1vh;
  left: 50vw;
  width: 13.5vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap .img2::before {
  background-position: -10px -275px;
}

.main-wrap .main-list:nth-child(1) .img-wrap .img3 {
  position: absolute;
  top: 67.6vh;
  left: 65.5vw;
  width: 13.5vw;
}

/* :nth-child(2) */
.main-wrap .main-list:nth-child(2) {
  background-image: url(/src/list2/렌딩-2p-배경\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.main-wrap .main-list:nth-child(2) .wrap {
  padding: 19.3rem 12.7vw 0 25.8vw;
  position: relative;
}

.main-wrap .bubble-wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--listTitle-fontsize);
  font-weight: var(--bold-font-weight);
  line-height: var(--listTitle-lineheight);
  background-color: rgba(213, 208, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3.6rem 0 3.6rem 0;
  border-radius: 4.5rem 4.5rem 0 4.5rem;
}

@media (max-width: 700px) {
  .main-wrap .bubble-wrap div {
    display: none;
  }
}

@media (max-height: 870px) {
  .main-wrap .bubble-wrap div {
    display: none;
  }
}

.main-wrap .bubble-wrap div:nth-child(1) {
  padding-right: 6.8rem;
  padding-left: 6.9rem;
  position: absolute;
  top: 64.2vh;
  right: 42vw;
}

.main-wrap .bubble-wrap div:nth-child(2) {
  padding-right: 8rem;
  padding-left: 8rem;
  border-radius: 4.5rem 4.5rem 4.5rem 0;
  position: absolute;
  top: 68.2vh;
  left: 55.5vw;
}

.main-wrap .bubble-wrap div:nth-child(3) {
  padding-right: 5.7rem;
  padding-left: 5.7rem;
  position: absolute;
  top: 79.6vh;
  left: 46.8vw;
}

/* :nth-child(3) */

.main-wrap .main-list:nth-child(3) {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.main-wrap .main-list:nth-child(3) .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrap .main-list:nth-child(3) .full {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 6.4rem;
  line-height: 9.47rem;
  font-weight: var(--bold-font-weight);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.26);
  opacity: 1;
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
}

.shrink {
  animation: shrink 1s ease-out forwards;
}

@keyframes shrink {
  from {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    font-size: 6.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    width: 62.4rem;
    max-height: 12rem;
    font-size: var(--listTitle-fontsize);
    top: 35%;
    left: 50%;
    border-radius: 2.5rem;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.main-wrap .main-list:nth-child(3) .sub-title {
  font-size: var(--listTitle-fontsize);
  line-height: var(--listTitle-lineheight);
  font-weight: var(--bold-font-weight);
  color: #fff;
  background-color: var(--main-color);
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.26);
  width: 62.4rem;
  padding: 2.9rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.main-wrap .main-list:nth-child(3) .solution-wrap {
  display: flex;
  gap: 10.6rem;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl {
  width: 25rem;
  opacity: 0;
  transition: 1.5s ease;
  position: absolute;
  top: 52.64%;
}

@media (min-width: 1921px) {
  dl:before {
    display: none;
  }
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(1) {
  position: absolute;
  left: 24.79%;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(1)::before {
  content: url(/src/list3/line1.svg);
  position: absolute;
  top: -55%;
  left: 12.5rem;
  width: 100vw;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(2) {
  position: absolute;
  left: 43.33%;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(2)::before {
  content: url(/src/list3/line2.svg);
  position: absolute;
  top: -13%;
  left: 12.5rem;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(3) {
  position: absolute;
  left: 61.88%;
}

.main-wrap .main-list:nth-child(3) .solution-wrap dl:nth-child(3)::before {
  content: url(/src/list3/line3.svg);
  position: absolute;
  top: -14.5%;
  right: 44%;
}

/* nth-child(4) */
.main-wrap .main-list:nth-child(4) {
  background: linear-gradient(180deg, #f1f0ff 4.8%, #c2b6fb 100%);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrap .main-list:nth-child(4) .line-wrap {
  position: relative;
  top: -53%;
}

.main-wrap .main-list:nth-child(4) .center-line {
  position: absolute;
  top: 32vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  width: 3px;
  height: 52.3vh;
}

.main-wrap .main-list:nth-child(4) .provide-list {
  background-color: rgba(255, 255, 255, 0.26);
  width: 19.7rem;
  color: var(--text-color);
  font-size: var(--provide-fontsize);
  line-height: var(--provide-lineheight);
  font-weight: var(--bold-font-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2.4rem 0;
  border-radius: 2.5rem;
}

.main-list:nth-child(4) .provide-list-left,
.main-list:nth-child(4) .provide-list-right {
  position: absolute;
  top: 0;
}

.main-list:nth-child(4) .provide-list-left {
  left: calc(50% - 19.3rem - 3.8rem);
  transform: translateX(-50%);
}

.main-list:nth-child(4) .provide-list-left .provide-list:nth-child(1) {
  position: absolute;
  top: 28.19vh;
}

.main-list:nth-child(4) .provide-list-left .provide-list:nth-child(2) {
  position: absolute;
  top: 49.12vh;
}

.main-list:nth-child(4) .provide-list-left .provide-list:nth-child(3) {
  position: absolute;
  top: 70.04vh;
}

.main-list:nth-child(4) .provide-list-right {
  position: absolute;
  left: calc(50% - 19.9rem);
  transform: translateX(-50%);
}

.main-list:nth-child(4) .provide-list-right .provide-list:nth-child(1) {
  position: absolute;
  top: 38.66vh;
}

.main-list:nth-child(4) .provide-list-right .provide-list:nth-child(2) {
  position: absolute;
  top: 59.58vh;
}

.main-list:nth-child(4) .provide-list-right .provide-list:nth-child(3) {
  position: absolute;
  top: 80.51vh;
}

.main-wrap
  .main-list:nth-child(4)
  .provide-list-left
  .provide-list.hover-box-left::before {
  right: -8%;
}

.main-wrap .main-list:nth-child(4) .provide-list-left .provide-list::before {
  content: "";
  border-top: solid 2px var(--dark-color);
  width: 3.3rem;
  position: absolute;
  top: 50%;
  right: -17%;
}

.main-wrap .main-list:nth-child(4) .provide-list-left .provide-list::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
  border: solid 0.8rem var(--light-color);
  position: absolute;
  background-color: var(--dark-color);
  top: 50%;
  right: -32%;
  transform: translate(-50%, -50%);
}

.main-wrap
  .main-list:nth-child(4)
  .provide-list-left
  .provide-list.hover-box-left::after {
  right: -14%;
  top: 49.5%;
}

.main-wrap
  .main-list:nth-child(4)
  .provide-list-left
  .provide-list.hover-box-left::before {
  top: 49.5%;
}

.main-wrap .main-list:nth-child(4) .provide-list-right {
  margin-left: 23.3rem;
}

.main-wrap
  .main-list:nth-child(4)
  .provide-list-right
  .provide-list.hover-box-right::before {
  left: -8%;
  top: 47.5%;
}

.main-wrap
  .main-list:nth-child(4)
  .provide-list-right
  .provide-list.hover-box-right::after {
  left: -8.2%;
  top: 47%;
}

.main-wrap .main-list:nth-child(4) .provide-list-right .provide-list::before {
  content: "";
  border-top: solid 2px var(--dark-color);
  width: 3.3rem;
  position: absolute;
  top: 50%;
  left: -17%;
}

.main-wrap .main-list:nth-child(4) .provide-list-right .provide-list::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
  border: solid 0.8rem var(--light-color);
  position: absolute;
  background-color: var(--dark-color);
  top: 50%;
  left: -17%;
  transform: translate(-50%, -50%);
}

.main-wrap .main-list:nth-child(4) .provide-list .provide-content {
  display: none;
}

.main-list .provide-list-left .provide-list.hover-box-left {
  background-color: #fff;
  align-items: end;
  position: relative;
  left: calc(50% - 3.8rem);
  transform: translate(-45%, -30%);
  justify-content: end;
  text-align: right;
  width: 43.2rem;
  box-sizing: border-box;
  padding-right: 4.4rem;
}

.main-list .provide-list-right .provide-list.hover-box-right {
  background-color: #fff;
  align-items: start;
  position: absolute;
  left: calc(50% + 19.3rem + 3.8rem);
  transform: translate(-53%, -28%);
  justify-content: start;
  text-align: left;
  width: 43.2rem;
  box-sizing: border-box;
  padding-left: 4.4rem;
}

.main-list .hovering-title {
  color: var(--main-color);
  font-size: var(--listTitle-fontsize);
  line-height: var(--listTitle-lineheight);
  font-weight: var(--bold-font-weight);
}

.main-list .hover-box-underline::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d7d2f9;
  width: 33.5rem;
  margin-top: 0.5rem;
}

.main-list .hovering-list {
  font-size: var(--provide-fontsize);
  line-height: var(--provide-lineheight);
  font-weight: var(--middle-font-weight);
  margin-top: 1.1rem;
}

/* nth-child(5) */
.main-wrap .main-list:nth-child(5) {
  background-image: url(/src/list5/list5-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 15rem);
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
}

.main-wrap .main-list:nth-child(5) .wrap {
  padding: 19.3rem 12.7vw 15rem 25.8vw;
}

.main-wrap .main-list:nth-child(5) .title {
  color: #fff;
}

.main-wrap .main-list:nth-child(5) .purple-btn {
  margin: 2.6rem 3rem 0 0;
}
