@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --main-color: #7b53ea;
  --text-color: #2c2336;
  --background-color: #f1f0ff;
  --solution-background: #f8f8ff;
  --gray-color: #707070;
  --dark-color: #b7a9fc;
  --light-color: #d9d4fc;
}

/* header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.7rem;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48.6vw;
}

header .nav .nav-btns {
  display: flex;
  align-items: center;
}

header .nav .nav-btns:nth-child(-n + 4) {
  gap: 2rem;
}

.purple-btn {
  border-radius: 3.7rem;
  background-color: var(--main-color);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.516rem;
  color: #fff;
  padding: 1.2rem 1.9rem 1.3rem 1.9rem;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg)
    brightness(109%) contrast(101%);
}

header .nav .purple-btn.white-btn {
  background-color: #fff;
  color: var(--main-color);
}

/* lastnav */
header .nav.lastNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 48.6vw;
  gap: 60rem;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}

footer.none {
  display: none;
}

footer address {
  width: 48.6vw;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #cbcbcb;
}

footer address a {
  color: #cbcbcb;
}

footer address div:nth-child(3)::before {
  content: "사업자번호: ";
}

footer address div:nth-child(4)::before {
  content: "Email: ";
}

/* main */
.main-wrap {
  position: absolute;
  top: 0;
  transition: 0.5s;
}

.main-wrap .main-list {
  width: 100vw;
  height: 100vh;
}

.main-wrap .main-list .title {
  font-size: 7.2rem;
  line-height: 9rem;
  font-weight: 700;
  color: var(--text-color);
}

.main-wrap .main-list .content {
  font-size: 2.6rem;
  line-height: 3.85rem;
  font-weight: 500;
  padding-top: 2rem;
}

.bread-crumbs {
  position: fixed;
  top: 50%;
  right: 12.7vw;
  z-index: 100;
}

.bread-crumbs button {
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* solutionbox */
.solution-box {
  width: 25rem;
  background-color: var(--solution-background);
  border: 1px solid #d7d2f9;
  box-shadow: 0px 2px 3px 0px #0000004d;
  box-shadow: 0px 6px 10px 4px #00000026;
  border-radius: 2.2rem;
  margin-top: 13.1rem;
}

.solution-box .label {
  width: 8.4rem;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.07rem;
  font-weight: 700;
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  margin-left: 2rem;
}

.solution-box .solution-content {
  margin: 2.3rem 0 2.8rem 3.9rem;
}

.solution-box .solution-title {
  color: var(--main-color);
  font-size: 2.6rem;
  line-height: 3.85rem;
  font-weight: 700;
}

.underline::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d7d2f9;
  width: 73%;
  margin-top: 0.5rem;
}

.solution-box .solution-list-wrap {
  padding-top: 1.8rem;
}

.solution-box .solution-list {
  color: var(--gray-color);
  font-size: 2rem;
  line-height: 2.96rem;
  font-weight: 400;
}

/* nth-child(1) */
.main-wrap .main-list:nth-child(1) {
  background-image: url(/src/list1/list1-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.main-wrap .main-list:nth-child(1) .wrap {
  padding: 19.3rem 12.7vw 0 25.8vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap {
  display: flex;
  width: 100%;
}

.main-wrap .main-list:nth-child(1) .img-wrap img:first-child {
  position: absolute;
  top: 38.2vh;
  left: 56vw;
  width: 13.5vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap img:nth-child(2) {
  position: absolute;
  top: 65.1vh;
  left: 50vw;
  width: 13.5vw;
}

.main-wrap .main-list:nth-child(1) .img-wrap img:nth-child(3) {
  position: absolute;
  top: 67.6vh;
  left: 65.5vw;
  width: 13.5vw;
}

/* :nth-child(2) */
.main-wrap .main-list:nth-child(2) {
  background-image: url(/src/list2/렌딩-2p-배경\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-wrap .main-list:nth-child(2) .wrap {
  padding: 19.3rem 12.7vw 0 25.8vw;
  position: relative;
}

.main-wrap .bubble-wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.44rem;
  background-color: rgba(213, 208, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3.6rem 0 3.6rem 0;
  border-radius: 4.5rem 4.5rem 0 4.5rem;
}

.main-wrap .bubble-wrap div:nth-child(1) {
  padding-right: 6.8rem;
  padding-left: 6.9rem;
  position: absolute;
  top: 64.2vh;
  left: 44.7vw;
}

.main-wrap .bubble-wrap div:nth-child(2) {
  padding-right: 8rem;
  padding-left: 8rem;
  border-radius: 4.5rem 4.5rem 4.5rem 0;
  position: absolute;
  top: 68.2vh;
  left: 55.5vw;
}

.main-wrap .bubble-wrap div:nth-child(3) {
  padding-right: 5.7rem;
  padding-left: 5.7rem;
  position: absolute;
  top: 79.6vh;
  left: 46.8vw;
}

/* :nth-child(3) */

.main-wrap .main-list:nth-child(3) {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.main-wrap .main-list:nth-child(3) div.full {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 6.4rem;
  line-height: 9.47rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrap .main-list:nth-child(3) .sub-title {
  font-size: 3rem;
  line-height: 4.44rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--main-color);
  box-shadow: 0px 2px 3px 0px #0000004d;
  box-shadow: 0px 6px 10px 4px #00000026;
  width: 62.4rem;
  padding: 2.9rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  margin-left: 17.2rem;
  margin-top: 27.1vh;
}

.main-wrap .main-list:nth-child(3) .soluition-wrap {
  display: flex;
  gap: 10.6rem;
  position: relative;
}

.main-wrap .main-list:nth-child(3) .soluition-wrap dl:nth-child(1)::before {
  content: url(/src/list3/line1.svg);
  position: absolute;
  top: 0;
  left: 12.5rem;
}

.main-wrap .main-list:nth-child(3) .soluition-wrap dl:nth-child(2)::before {
  content: url(/src/list3/line2.svg);
  position: absolute;
  top: 9.6rem;
  left: 48.1rem;
}

.main-wrap .main-list:nth-child(3) .soluition-wrap dl:nth-child(3)::before {
  content: url(/src/list3/line3.svg);
  position: absolute;
  top: 9.55rem;
  left: 48.5rem;
}

/* nth-child(4) */
.main-wrap .main-list:nth-child(4) {
  background: linear-gradient(180deg, #f1f0ff 4.8%, #c2b6fb 100%);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-wrap .main-list:nth-child(4) .center-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28.2vh;
}

.main-wrap .main-list:nth-child(4) .center-line::before {
  content: "";
  border-right: 3px solid var(--light-color);
  height: 47.5rem;
  position: absolute;
  top: 32.7%;
  left: 50%;
}

.main-wrap .main-list:nth-child(4) .provide-list:nth-child(1),
.provide-list:nth-child(2) {
  margin-bottom: 10.8rem;
}

.main-wrap .main-list:nth-child(4) .provide-list-left {
  margin-top: -8.2rem;
  padding-right: 3.3rem;
}

.main-wrap .main-list:nth-child(4) .provide-list-left .provide-list::before {
  content: "";
  border-top: solid 2px var(--dark-color);
  width: 3.3rem;
  position: absolute;
  top: 50%;
  right: -17%;
}

.main-wrap .main-list:nth-child(4) .provide-list-left .provide-list::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
  border: solid 0.8rem var(--light-color);
  position: absolute;
  background-color: var(--dark-color);
  top: 50%;
  right: -17%;
  transform: translate(50%, -50%);
}

.main-wrap .main-list:nth-child(4) .provide-list-right {
  margin-top: 9.5rem;
  margin-left: 3.3rem;
}

.main-wrap .main-list:nth-child(4) .provide-list-right .provide-list::before {
  content: "";
  border-top: solid 2px var(--dark-color);
  width: 3.3rem;
  position: absolute;
  top: 50%;
  left: -17%;
}

.main-wrap .main-list:nth-child(4) .provide-list-right .provide-list::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
  border: solid 0.8rem var(--light-color);
  position: absolute;
  background-color: var(--dark-color);
  top: 50%;
  left: -17%;
  transform: translate(-50%, -50%);
}

.main-wrap .main-list:nth-child(4) .provide-list {
  background-color: rgba(255, 255, 255, 0.26);
  width: 19.7rem;
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 3.55rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0;
  border-radius: 2.5rem;
  position: relative;
}

/* nth-child(5) */
.main-wrap .main-list:nth-child(5) {
  background-image: url(/src/list5/list5-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-wrap .main-list:nth-child(5) .wrap {
  padding: 19.3rem 12.7vw 0 25.8vw;
}

.main-wrap .main-list:nth-child(5) .title {
  color: #fff;
}

.main-wrap .main-list:nth-child(5) .purple-btn {
  margin: 2.6rem 3rem 0 0;
}
